* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(218, 218, 218);
}

.App {
  text-align: center;
  background-color: #08182b;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}



