* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color:#08182b;
  color: #fe4365;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.Container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.Column {
  position: relative; 
  flex: 1;
  flex-basis: 300px;
}


img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 10vh;
  font-size: 20px;
  padding-top: 5vh;
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: bottom ease 0.4s;
}

.Column:hover .overlay {
  opacity: 1;
  bottom: 0px;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
}

.detailstitle {
  flex: 2 100%;
  padding: 2%;
  font-size: 200%;
  font-weight: bold;
}

.detailsbox {
  flex: 1;
  padding: 30px 5px;
  
}

.detailssynopsis {
  font-size: 20px;
  color:#f4f4f4;  
  padding-left: 50px;
  padding-right: 50px;
}

.detailsimage img {
  max-width: 400px;
}

.detailslink {
  flex: 2 100%;
  padding: 2%;
}
.detailslink p {
  color: grey;
  font-size: 19px;
  text-decoration: underline;
  text-decoration-color: grey;
}

/* Small screens: from 0 to 620px */
@media only screen and (max-width: 620px) {
  .detailsContainer {
    flex-direction: column;
  }

  .detailsbox {
    padding: 3%;
    font-size: 19px;
    font-weight: 200;
    line-height: 1.5;
  }
} 

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 30px;
  border: 16px solid #22599c52;
  border-radius: 50%;
  border-top: 16px solid #fe4365bb;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


