* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.Film {
  width: 100%;
}

.Row {
  display: flex;
}

/*Small screens: from 0 to 620px*/
@media only screen and (max-width: 620px) {
  .Row {
    flex-direction: column;
  }
}
