.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgba(0, 255, 179, 0.541);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.Film {
  width: 100%; 
}

.Row {
  display: flex;
}

.Column {
  flex:1;
  position: relative;
} 



.overlay {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: rgb(218, 218, 218);
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
}

.Column:hover .overlay {
  opacity: 1;
}



/*Small screens: from 0 to 620px*/
@media only screen and (max-width: 620px) {
  .Row {
    flex-direction: column; 
  }
}